@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';
@import './atomic.scss';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#app {
  height: 100%;
}

label {
  font-weight: 700;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

div:focus {
  outline: none;
}

.flex{
  display: flex;
}

.w-full {
  width: 100%;
}

.mt-20 {
  margin-top: 20px;
}

.ml-1{
  margin-left: 5px;
}
.text-center{
  text-align: center;
}

/*默认为row，横向排列*/
.layout-items-center {
  display: flex;
  align-items: center;
}

.layout-items-baseline {
  display: flex;
  align-items: baseline;
}

.layout-baseline-between {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/*左右居中*/
.layout-center {
  display: flex;
  justify-content: center;
}

/*两边排列*/
.layout-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*左中右排列*/
.layout-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*两边排列, 换行*/
.layout-slide-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}


/*上下排列*/
.layout-col-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/*左右垂直居中*/

.layout-abs-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


/*横向左右垂直居右*/
.layout-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


/*纵向左右垂直居中*/
.layout-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-main-header{
  //margin-left: 210px;
  margin-bottom: 20px;
  margin-top: -70px;
}

.header-nav-item{
  font-size: 20px;
  text-align: center;
  width: 125px;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
  background-color: #fff;
  cursor: pointer;
  color: #333;
  &.checked{
    background-color: rgba(2, 167, 240, 1);
    color: #fff;
  }
}
